<div class="assessment">

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="" layout="column">
      <md-card md-theme="docs-dark" md-theme-watch="">
        <md-card-title>
          <md-card-title-media>
            <img ng-src="{{patient.profilePic}}" class="md-card-image card-media" alt="Washed Out">
            <!-- <div class="md-media-lg card-media"></div> -->
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">{{patient.firstName}} {{patient.lastName}}</span>
            <span class="md-subhead">Ph: {{patient.mobile}}</span>
            <span class="md-subhead">{{patient.id}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </md-content>

<md-content class="md-padding">
  <md-card md-theme="docs-dark" md-theme-watch="">
  <md-nav-bar md-selected-nav-item="currentNavItem" md-theme="docs-dark" ng-init="currentNavItem='page1'" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-click="goto('page1')" name="page1" value="page1">
      History
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page2')" name="page2" value="page2">
      Examination
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page3')" name="page3" value="page3">
      Vitals
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page5')" name="page5" value="page5">
      Reports
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page4')" name="page4" value="page4">
      Advice
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page6')" name="page6" value="page6">
      Medications
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page7')" name="page7" value="page7">
      Online Consultation
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page7')" name="page7" value="page7">
      Past History
    </md-nav-item>

    <md-button class="pull-right md-primary md-flat" style="position: absolute;right: 80px; bottom: 5px;"  >Save</md-button>
    <md-button class="pull-right md-primary md-flat" style="position: absolute;right: 0px; bottom: 5px;"  ><md-icon class="material-icons">print</md-icon></md-button>
    <!-- these require actual routing with ui-router or ng-route, so they
    won't work in the demo
    <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
    <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
    You can also add options for the <code>ui-sref-opts</code> attribute.
    <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
      Page Six
    </md-nav-item>
    -->
  </md-nav-bar>
  <div class="ext-content">
    <!-- External content for `<span>{{currentNavItem}}</span>`. -->



    <md-content ng-show="currentNavItem == 'page1'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <form name="patientHistoryForm">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Present Complaints</label>
              <textarea ng-model="patient.presentCondition" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center" flex-gt-sm="">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Past History</label>
              <textarea ng-model="patient.pastHistory" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center" flex-gt-sm="">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Social History</label>
              <textarea ng-model="patient.socialHistory" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center" flex-gt-sm="">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Allergy History</label>
              <textarea ng-model="patient.allergyHistory" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>

          </div>
        </form>
      </div>
    </md-content>


    <md-content ng-show="currentNavItem == 'page2'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <form name="patientHistoryForm">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>General Condition</label>
              <textarea ng-model="patient.generalCondition" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Systematic Examination</label>
              <textarea ng-model="patient.systematicExamination" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
        </form>
      </div>
    </md-content>
    

    <md-content ng-show="currentNavItem == 'page3'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form name="patientHistoryForm">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Pulse rate (per minute)</label>
              <input type="number" ng-model="patient.pulseRate"></input>
            </md-input-container>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Blood Pressure (SBP/DBP in mmHg)</label>
              <input type="text" ng-model="patient.bp"></input>
            </md-input-container>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Respiratory rate (per minute)</label>
              <input type="number" ng-model="patient.respRate"></input>
            </md-input-container>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Temperature (&#8457;)</label>
              <input type="number" ng-model="patient.temperature"></input>
            </md-input-container>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>SpO2 (%)</label>
              <input type="number" ng-model="patient.spo2"></input>
            </md-input-container>
          </div>
        </form>
      </div>
    </md-content>

    <md-content ng-show="currentNavItem == 'page4'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form name="patientAdviceForm">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Provisional Diagnosis</label>
              <textarea ng-model="patient.generalCondition" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Investigations</label>
              <textarea ng-model="patient.systematicExamination" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>General Advice</label>
              <textarea ng-model="patient.systematicExamination" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
          </div>
        </form>
      </div>
    </md-content>


    <md-content ng-show="currentNavItem == 'page5'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form name="patientReportsForm">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
              <div layout="row" flex="50">Biochemistry</div>
              <choose-file layout="row" flex="50" style="align-items: center;">
                <input id="fileInput" type="file" class="ng-hide">
                <md-input-container flex class="md-block">
                  <input type="text" ng-model="biochemistry" disabled>
                  <div class="hint">Select your file</div>
                </md-input-container>
                <div>
                  <md-button id="uploadButton" class="md-fab md-mini">
                    <md-icon class="material-icons">attach_file</md-icon>
                  </md-button>
                </div>
              </choose-file>  
            </md-input-container>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
              <div layout="row" flex="50">Pathology Reports</div>
              <choose-file layout="row" flex="50" style="align-items: center;">
                <input id="fileInput" type="file" class="ng-hide">
                <md-input-container flex class="md-block">
                  <input type="text" ng-model="pathology" disabled>
                  <div class="hint">Select your file</div>
                </md-input-container>
                <div>
                  <md-button id="uploadButton" class="md-fab md-mini">
                    <md-icon class="material-icons">attach_file</md-icon>
                  </md-button>
                </div>
              </choose-file>  
            </md-input-container>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
              <div layout="row" flex="50">Imaging (X-Ray/Echo/USG/CT/MRI etc.)</div>
              <choose-file layout="row" flex="50" style="align-items: center;">
                <input id="fileInput" type="file" class="ng-hide">
                <md-input-container flex class="md-block">
                  <input type="text" ng-model="imaging" disabled>
                  <div class="hint">Select your file</div>
                </md-input-container>
                <div>
                  <md-button id="uploadButton" class="md-fab md-mini">
                    <md-icon class="material-icons">attach_file</md-icon>
                  </md-button>
                </div>
              </choose-file>  
            </md-input-container>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
              <div layout="row" flex="50">Others</div>
              <choose-file layout="row" flex="50" style="align-items: center;">
                <input id="fileInput" type="file" class="ng-hide">
                <md-input-container flex class="md-block">
                  <input type="text" ng-model="others" disabled>
                  <div class="hint">Select your file</div>
                </md-input-container>
                <div>
                  <md-button id="uploadButton" class="md-fab md-mini">
                    <md-icon class="material-icons">attach_file</md-icon>
                  </md-button>
                </div>
              </choose-file>  
            </md-input-container>
          </div>
        </form>
      </div>
    </md-content>



    <md-content ng-show="currentNavItem == 'page6'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
          <md-table headers="headers" content="content" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" type="'1'">
            
          </md-table>
        </md-content>
        <hr>
        <form name="medicaionsForm" id="medicationsForm" ng-submit="addMed()" ng-if="loggedInUser.type != 'Patient'">
          <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Medication Name(Brand)</label>
                <input ng-model="med.medication">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Generic name</label>
                <input ng-model="med.generic_name">
              </md-input-container>

              <md-input-container flex-gt-sm="" flex="15">
                <label>Form</label>
                <md-select ng-model="med.form">
                  <md-option value="tablet">Tablet</md-option>
                  <md-option value="capsule">Capsule</md-option>
                  <md-option value="injection">Injection</md-option>
                  <md-option value="syrup">Syrup</md-option>
                  <md-option value="drip">Drip</md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Dosage</label>
                <input ng-model="med.dose">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Route</label>
                <input ng-model="med.route">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Schedule</label>
                <input ng-model="med.schedule">
              </md-input-container>
            </div>
            <div layout-gt-sm="row" style="justify-content: flex-end;">
              <md-button class="pull-right md-primary md-raised" type='submit'>Add</md-button>
            </div>
          </md-content>
          
        </form>
      </div>
    </md-content>
    

    <md-content ng-show="currentNavItem == 'page7'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form name="consultationForm">
          <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
            <md-table headers="docheaders" content="doccontent" sortable="docsortable" filters="docsearch" custom-class="doccustom" thumbs="docthumbs" count="doccount" type="2" >
              
            </md-table>
          </md-content>
        </form>
      </div>
    </md-content>

  </div>
</md-card>
</md-content>
</div>



