<div class="assessment" layout='column'>
  <div flex layout="row">
    <md-sidenav md-is-open='true' 
                md-component-id="left" 
                class="md-sidenav-left" 
                id="leftSideNav" 
                md-disable-backdrop="true"
                ng-class="{expand: hover}"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                md-theme="docs-dark"
                >
      <div flex style="min-height: 200px;" layout='column' layout-align='end'>
        <div flex layout='column' layout-align='end' class="sidenav-top">
          <div flex layout="row" class='patientDetails'>
            <img ng-src="{{patient.profilePic}}" class="md-card-image card-media" alt="Washed Out">
            <div>
              <h2 class="md-headline">{{patient.firstName}} {{patient.lastName}}</h2>
              <span class="md-subhead">{{patient.mobile}}</span><br>
              <span class="md-subhead">{{patient.id}}</span>
            </div>
          </div>
          <div flex layout-align='end' layout='column' class='patientAttrs'>
            <div>{{patient.gender}}</div>
            <div>{{patient.age}}</div>
            <div>{{patient.bloodGroup}}</div>
          </div>
        </div>
      </div>

      <div flex>
        <md-nav-bar md-selected-nav-item="currentNavItem" ng-init="currentNavItem='History'" nav-bar-aria-label="navigation links">
        <md-nav-item name="page0" value="page0">
          Patient Information
        </md-nav-item>

        <!-- <md-nav-item ng-repeat="tab in tabs" md-nav-click="goto('{{tab.title}}')" name="{{tab.title}}" value="{{tab.title}}">
          <md-icon ng-bind="'history'"></md-icon><span> {{tab.title}}</span>
        </md-nav-item> -->
        <md-nav-item md-nav-click="goto('History')" name="History" value="History">
          <md-icon md-svg-src="../images/History.svg"></md-icon><span class="tabTitle"> History</span>
        </md-nav-item>
        <md-nav-item md-nav-click="goto('Examination')" name="Examination" value="Examination">
          <md-icon md-svg-src="../images/examination.svg"></md-icon><span class="tabTitle"> Examination</span>
        </md-nav-item>
        <md-nav-item md-nav-click="goto('Vitals')" name="Vitals" value="Vitals">
          <md-icon md-svg-src="../images/Vitals.svg"></md-icon><span class="tabTitle"> Vitals</span>
        </md-nav-item>
        <md-nav-item md-nav-click="goto('Reports')" name="Reports" value="Reports">
          <md-icon md-svg-src="../images/Report.svg"></md-icon><span class="tabTitle"> Reports</span>
        </md-nav-item>
        <md-nav-item md-nav-click="goto('Advice')" name="Advice" value="Advice">
          <md-icon md-svg-src="../images/Advice.svg"></md-icon><span class="tabTitle"> Advice</span>
        </md-nav-item>
        <md-nav-item md-nav-click="goto('Medications')" name="Medications" value="Medications">
          <md-icon md-svg-src="../images/Medication.svg"></md-icon><span class="tabTitle"> Medications</span>
        </md-nav-item>
        <md-nav-item md-nav-click="goto('Consultation')" name="Consultation" value="Consultation">
          <md-icon md-svg-src="../images/Consultation.svg"></md-icon><span class="tabTitle"> Consultation</span>
        </md-nav-item>
        <!-- <md-nav-item md-nav-click="goto('Offline')" name="Offline" value="Offline">
          <md-icon ng-bind="'account_circle'" style="padding: 2px; text-align: center; font-size: 28px"></md-icon><span class="tabTitle"> Offline</span>
        </md-nav-item> -->
        <!-- <md-nav-item md-nav-click="goto('Consultation')" name="Consultation" value="Consultation">
          <md-icon ng-bind="'account_circle'"></md-icon><span class="tabTitle"> Past History</span>
        </md-nav-item> -->

        <!-- these require actual routing with ui-router or ng-route, so they
        won't work in the demo
        <md-nav-item md-nav-href="#Advice" name="Reports">Page Four</md-nav-item>
        <md-nav-item md-nav-sref="app.Reports" name="Advice">Page Five</md-nav-item>
        You can also add options for the <code>ui-sref-opts</code> attribute.
        <md-nav-item md-nav-sref="Medications" sref-opts="{reload:true, notify:true}">
          Page Six
        </md-nav-item>
        -->
        </md-nav-bar>  
      </div>
    </md-sidenav>

    <div class="assessment-body md-padding" style="background: url(../images/{{currentNavItem}}.jpg); background-size: cover; background-attachment: fixed; background-repeat: no-repeat;" flex layout='column'>
      

      <md-content class="md-padding md-raised">
        <md-card md-theme="docs-dark" layout='row' md-theme-watch="">
          <div class="ext-content" flex>
            <md-toolbar class="md-hue-2">
              <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="hover = !hover">
                  <md-icon ng-bind="'menu'"></md-icon>
                </md-button>

                <h2 flex="" md-truncate="">{{currentNavItem}}</h2>

                <md-button class="md-button" aria-label="Favorite">
                  Save
                </md-button>

                <md-button class="md-icon-button" aria-label="More" ng-href="/tmd.pdf" target="_blank">
                  <md-icon class="material-icons">print</md-icon>
                </md-button>
              </div>
            </md-toolbar>


            <md-content ng-show="currentNavItem == 'History'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
              <div flex>
                <form name="patientHistoryForm">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Present Complaints</label>
                      <textarea ng-init="patient.presentCondition = 'H/O chest pain since morning with sweating, breathlessness.'" ng-model="patient.presentCondition" md-maxlength="150" rows="5" md-select-on-focus="" ng-readonly="loggedInUser.id == 2"></textarea>
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center" flex-gt-sm="">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Past History</label>
                      <textarea ng-init="patient.pastHistory = 'Known c/o Diabetes Mellitus and Hypertension on medications for 15 years.'" ng-model="patient.pastHistory" md-maxlength="150" rows="5" md-select-on-focus="" ng-readonly="loggedInUser.id == 2"></textarea>
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center" flex-gt-sm="">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Social History</label>
                      <textarea ng-init="patient.socialHistory = 'Known smoker since 20 years.'" ng-model="patient.socialHistory" md-maxlength="150" rows="5" md-select-on-focus="" ng-readonly="loggedInUser.id == 2"></textarea>
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center" flex-gt-sm="">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Allergy History</label>
                      <textarea ng-init="patient.allergyHistory = 'No known allergy'" ng-model="patient.allergyHistory" md-maxlength="150" rows="5" md-select-on-focus="" ng-readonly="loggedInUser.id == 2"></textarea>
                    </md-input-container>

                  </div>
                </form>
              </div>
            </md-content>

            <md-content ng-show="currentNavItem == 'Examination'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
              <div flex>
                <form name="patientHistoryForm">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>General Condition</label>
                      <textarea md-detect-hidden ng-init="patient.generalCondition = 'Obese built in sever distress due to pain. Breathless and sweating.'" ng-model="patient.generalCondition" md-maxlength="150" rows="5" ng-readonly="loggedInUser.id == 2" ></textarea>
                    </md-input-container>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Systematic Examination</label>
                      <textarea md-detect-hidden ng-init="patient.systematicExamination = 'CVS: Tachycardia , No Murmurs \nRS: NVBS\nCNS: NAD\nGI: NAD'" ng-model="patient.systematicExamination" md-maxlength="150" rows="5" md-select-on-focus="" ng-readonly="loggedInUser.id == 2"></textarea>
                    </md-input-container>
                  </div>
                </form>
              </div>
            </md-content>
            
            <md-content ng-show="currentNavItem == 'Vitals'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
              <div flex>
                <form name="patientHistoryForm">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center" >
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Pulse rate (per minute)</label>
                      <input ng-init="patient.pulseRate = 60" type="number" ng-model="patient.pulseRate" ng-readonly="loggedInUser.id == 2"></input>
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Blood Pressure (SBP/DBP in mmHg)</label>
                      <input ng-init="patient.bp = '120/80'" type="text" ng-model="patient.bp" ng-readonly="loggedInUser.id == 2"></input>
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Respiratory rate (per minute)</label>
                      <input ng-init="patient.respRate = 24" type="number" ng-model="patient.respRate" ng-readonly="loggedInUser.id == 2"></input>
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Temperature (&#8457;)</label>
                      <input ng-init="patient.temperature = 97" type="number" ng-model="patient.temperature" ng-readonly="loggedInUser.id == 2"></input>
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>SpO2 (%)</label>
                      <input ng-init="patient.spo2 = 98" type="number" ng-model="patient.spo2" ng-readonly="loggedInUser.id == 2"></input>
                    </md-input-container>
                  </div>
                </form>
              </div>
            </md-content>

            <md-content ng-show="currentNavItem == 'Advice'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
              <div flex>
                <form name="patientAdviceForm">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Provisional Diagnosis</label>
                      <textarea md-detect-hidden ng-init="patient.generalCondition='Angina with DM with Hypertension.'" ng-model="patient.generalCondition" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
                    </md-input-container>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>Investigations</label>
                      <textarea md-detect-hidden ng-init="patient.investigations = 'Do CBC with lipid profile and cardiac markers, ECG, 2D Echo'" ng-model="patient.investigations" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
                    </md-input-container>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
                    <md-input-container class="md-block" flex-gt-sm="">
                      <label>General Advice</label>
                      <textarea md-detect-hidden ng-init="patient.generalAdvice = 'Bed rest, avoid exertion, Continue antihypertensive and anti-diabetic medications. Follow up after a week or immediately if symptoms appears again.'" ng-model="patient.generalAdvice" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
                    </md-input-container>
                  </div>
                </form>
              </div>
            </md-content>

            <md-content ng-show="currentNavItem == 'Reports'" md-theme="docs-dark" layout-gt-sm="column" layout-padding="20">
              <div class="patientReportsForm" flex>
                <form name="patientReportsForm">
                  <div layout-gt-sm="row" layout-align="center" flex>
                    <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
                      <div layout="row" flex="50">Biochemistry</div>
                      <choose-file layout="row" flex="50" style="align-items: center;">
                        <input id="fileInput" type="file" class="ng-hide" ng-readonly="loggedInUser.id == 2">
                        <md-input-container flex class="md-block">
                          <input type="text" ng-model="biochemistry" disabled>
                          <div class="hint">Select your file</div>
                        </md-input-container>
                        <div>
                          <md-button id="uploadButton" class="md-fab md-mini">
                            <md-icon class="material-icons">attach_file</md-icon>
                          </md-button>
                        </div>
                      </choose-file>  
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row" layout-align="center" flex>
                    <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
                      <div layout="row" flex="50">Pathology Reports</div>
                      <choose-file layout="row" flex="50" style="align-items: center;">
                        <input id="fileInput" type="file" class="ng-hide" ng-readonly="loggedInUser.id == 2">
                        <md-input-container flex class="md-block">
                          <input type="text" ng-model="pathology" disabled>
                          <div class="hint">Select your file</div>
                        </md-input-container>
                        <div>
                          <md-button id="uploadButton" class="md-fab md-mini">
                            <md-icon class="material-icons">attach_file</md-icon>
                          </md-button>
                        </div>
                      </choose-file>  
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row" layout-align="center" flex>
                    <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
                      <div layout="row" flex="50">Imaging (X-Ray/Echo/USG/CT/MRI etc.)</div>
                      <choose-file layout="row" flex="50" style="align-items: center;">
                        <input id="fileInput" type="file" class="ng-hide">
                        <md-input-container flex class="md-block">
                          <input type="text" ng-model="imaging" disabled>
                          <div class="hint">Select your file</div>
                        </md-input-container>
                        <div>
                          <md-button id="uploadButton" class="md-fab md-mini">
                            <md-icon class="material-icons">attach_file</md-icon>
                          </md-button>
                        </div>
                      </choose-file>  
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row" layout-align="center" flex>
                    <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
                      <div layout="row" flex="50">Others</div>
                      <choose-file layout="row" flex="50" style="align-items: center;">
                        <input id="fileInput" type="file" class="ng-hide">
                        <md-input-container flex class="md-block">
                          <input type="text" ng-model="others" disabled>
                          <div class="hint">Select your file</div>
                        </md-input-container>
                        <div>
                          <md-button id="uploadButton" class="md-fab md-mini">
                            <md-icon class="material-icons">attach_file</md-icon>
                          </md-button>
                        </div>
                      </choose-file>  
                    </md-input-container>
                  </div>
                </form>
              </div>
            </md-content>

            <md-content ng-show="currentNavItem == 'Medications'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
              <div flex>
                <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
                  <md-table headers="headers" content="content" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" type="'1'">
                    
                  </md-table>
                </md-content>
                <hr>
                <form name="medicaionsForm" id="medicationsForm" ng-submit="addMed()" ng-if="loggedInUser.type != 'Patient'">
                  <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                        <label>Medication Name(Brand)</label>
                        <input ng-model="med.medication">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                        <label>Generic name</label>
                        <input ng-model="med.generic_name">
                      </md-input-container>

                      <md-input-container flex-gt-sm="" flex="15">
                        <label>Form</label>
                        <md-select ng-model="med.form">
                          <md-option value="tablet">Tablet</md-option>
                          <md-option value="capsule">Capsule</md-option>
                          <md-option value="injection">Injection</md-option>
                          <md-option value="syrup">Syrup</md-option>
                          <md-option value="drip">Drip</md-option>
                        </md-select>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                        <label>Dosage</label>
                        <input ng-model="med.dose">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                        <label>Route</label>
                        <input ng-model="med.route">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                        <label>Schedule</label>
                        <input ng-model="med.schedule">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row" style="justify-content: flex-end;">
                      <md-button class="pull-right md-primary md-raised" type='submit'>Add</md-button>
                    </div>
                  </md-content>
                  
                </form>
              </div>
            </md-content>
            
            <md-content ng-show="currentNavItem == 'Consultation'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
              <div layout="row" flex="flex" style="justify-content: space-around;">
                <form name="consultationForm" ng-show="docSpl && docSpl=='Nephrology'">
                  <md-content layout="row" flex="flex" ng-click="toggleSearch=false">
                    <md-table headers="docheaders" content="doccontent" sortable="docsortable" filters="docsearch" custom-class="doccustom" thumbs="docthumbs" count="doccount" type="2" >
                      
                    </md-table>
                  </md-content>
                </form>
                <div flex='30' ng-hide="consultType">
                  <md-button flex ng-hide="consultType" style="height: 290px; width: 100%" class="" ng-click="consultType=1">
                    <img src="../images/online.png" alt="ONLINE" height="260"/><br>
                    ONLINE
                  </md-button>  
                </div>
                <div flex='30' ng-hide="consultType">
                
                  <md-button  class="" style="height: 290px; width: 100%" ng-click="consultType=2">
                    <img src="../images/offline.png" alt="OFFLINE" height="260" /><br>
                    OFFLINE
                  </md-button>
                </div>
                <div class="drSpecialists" flex ng-show="consultType && consultType==1 && !docSpl">
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Nephrology'">
                    <img src="../images/nephro.png" alt="Nephrology" height="60" /><br>
                    Nephrology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Orthopaedics'">
                    <img src="../images/ortho.png" alt="Nephrology" height="60" /><br>
                    Orthopaedics
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Pediatrics'">
                    <img src="../images/pedia.png" alt="Nephrology" height="60" /><br>
                    Pediatrics
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Obstetrics'">
                    <img src="../images/gyno.png" alt="Nephrology" height="60" /><br>
                    Obstetrics / Gynaecology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Opthalmology'">
                    <img src="../images/opthalm.png" alt="Nephrology" height="60" /><br>
                    Opthalmology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Cardiology'">
                    <img src="../images/cardio.png" alt="Nephrology" height="60" /><br>
                    Cardiology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Psychaiatry'">
                    <img src="../images/psych.png" alt="Nephrology" height="60" /><br>
                    Psychaiatry
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Physician'">
                    <img src="../images/physician.png" alt="Nephrology" height="60" /><br>
                    Physician
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Rheumatology'">
                    <img src="../images/rheuma.png" alt="Rheumatology" height="60" /><br>
                    Rheumatology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Gastroenterology'">
                    <img src="../images/gastro.svg" alt="Gastroenterology" height="60" /><br>
                    Gastroenterology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Neurology'">
                    <img src="../images/neuro.png" alt="Neurology" height="60" /><br>
                    Neurology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Dermatology'">
                    <img src="../images/derma.png" alt="Dermatology" height="60" /><br>
                    Dermatology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Pulmonology'">
                    <img src="../images/pulmo.png" alt="Pulmonology" height="60" /><br>
                    Pulmonology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Pain'">
                    <img src="../images/pain.png" alt="Pain" height="60" /><br>
                    Pain
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Plastic'">
                    <img src="../images/plastic.png" alt="Plastic Surgery" height="60" /><br>
                    Plastic Surgery
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Diet'">
                    <img src="../images/nutri.svg" alt="Diet / Nutrition" height="60" /><br>
                    Diet / Nutrition
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Urology'">
                    <img src="../images/uro.png" alt="Urology" height="60" /><br>
                    Urology
                  </md-button>
                  <md-button flex="25" class="md-raised md-primary" style="height: 120px; min-width: 300px;max-width: 300px;" ng-click="docSpl='Ear'">
                    <img src="../images/ent.png" alt="Ear Nose Throat" height="60" /><br>
                    Ear Nose Throat
                  </md-button>
                </div>
                <div class="consultOffline" flex ng-show="consultType && consultType==2">
                  <div flex >
                    <form name="consultationForm">
                      <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" layout-gt-sm="row" layout-align="center">
                        <md-input-container class="md-block" flex-gt-sm="" style="display: flex; justify-content: space-between; align-items: center;">
                          <div layout="row" flex="50">Upload your video</div>
                          <choose-file layout="row" flex="50" style="align-items: center;">
                            <input id="fileInput" type="file" class="ng-hide" ng-readonly="loggedInUser.id == 2">
                            <md-input-container flex class="md-block">
                              <input type="text" ng-model="biochemistry" disabled>
                              <div class="hint">File must be smaller than 50MB, in one of the following formats: .avi, .wmv, .flv, .vid, .mp4, .mov, .mkv</div>
                            </md-input-container>
                            <div>
                              <md-button id="uploadButton" class="md-fab md-mini">
                                <md-icon class="material-icons">attach_file</md-icon>
                              </md-button>
                            </div>
                          </choose-file>  
                        </md-input-container>
                      </div>
                      </md-content>
                    </form>
                  </div>
                </div>
                <br>
                
              </div>
            </md-content>

            <md-content ng-show="currentNavItem == 'Offline'" md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
              
            </md-content>
          </div>
        </md-card>

        
        <div flex ng-show="docSpl" style="padding: 20px;">
          <iframe src="http://stackoverflow.com/" name="iframe_a" style="width: 100%; height: 500px;">
            <p>Your browser does not support iframes.</p>
          </iframe>  
        </div>
      </md-content>
    </div>
  </div>
</div>



