<div id="menu">
  <md-button class="md-raised md-primary" ng-href="#/login">Log In</md-button>
    <md-button ng-href='#/home' class="md-raise md-primary">Home</md-button>
    <md-button ng-href='#/list' class="md-raise md-primary">List</md-button>
    <md-button ng-href="#/assessment" class="md-raise md-primary">Assessment</md-button>
    <md-button ng-href="#/admin" class="md-raise md-primary">Admin</md-button>
    <md-button ng-href="#/signup" class="md-raise md-primary">SignUp</md-button>
    <md-button ng-href="#/login" class="md-raise md-primary">Sign In</md-button>
</div>
<hr>
