<div class="main-fab">
  <md-button class="md-fab md-accent add-btn" ng-href="#/signup">+</md-button>
  <md-toolbar class="md-tall" layout="column" md-theme="docs-dark">
    <span flex="flex"></span>
    <div class="md-toolbar-tools">
      <div class="fill-height" layout="row" flex="flex">
        <div class="md-toolbar-item md-breadcrumb" ng-hide="toggleSearch">
          <span ng-click="toggleSearch = !toggleSearch">Patients List</span>
        </div>
        <span flex="flex" ng-hide="toggleSearch"></span>
        <md-input-container flex="flex" style="padding-left:88px" class="dark-search" ng-show="toggleSearch" md-theme="docs-dark">
          <input id="searchinput" type="text" ng-model="search" show-focus="toggleSearch"/>
        </md-input-container>
        <div class="md-toolbar-item md-tools" layout="row">
          <a class="md-button md-default-theme" href="" ng-click="toggleSearch = !toggleSearch">
            <md-icon ng-bind="'search'"></md-icon>
          </a>
        </div>
      </div>
    </div>
  </md-toolbar>

  <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
    <md-table headers="headers" content="content" templateid="patients" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" type="0">
      
    </md-table>
  </md-content>
</div>

