<div class="login">
<div class="login-container">
  <div class="login-logo">
    <img src="../images/logo.jpg" alt="Telemed">
  </div>
  <div class="login-form-container" flex>
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center">
      <form ng-submit="login(userCredentials)">
        <div layout-gt-sm="row" layout-align="space-between center">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Email / Phone</label>
            <input ng-model="userCredentials.username" type="text">
          </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-align="space-between center">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Password</label>
            <input ng-model="userCredentials.password" type="password">
          </md-input-container>
        </div>
        <!-- <input type="email" name="username" ng-model="username" placeholder="Userame" >
        <input type="password" name="password" placeholder="Password" > -->
        <div layout-gt-sm="row" layout-align="space-between center">
          <md-button class="md-primary md-raise md-padding" type="submit" flex-gt-sm="">Sign In</md-button>
        </div>
        <a href="#/signup">Sign up</a>
      </form>
    </md-content>
  </div>
  <!-- <button ng-click="showHideLogin()">Login</button> -->

</div>
</div>