<div class="signup-container col-md-12">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="20" layout-align="center" style="width: 100%">
      <md-card md-theme="docs-dark" md-theme-watch="" layout="row" style="padding: 40px;">
      <div>
        <h1>Patient Registration</h1>
        <form name="userForm" ng-submit="signup($cookies,user)">
          <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="" flex="15">
              <label>Title</label>
              <md-select ng-model="user.salutation">
                <md-option value="Mr.">Mr.</md-option>
                <md-option value="Mrs.">Mrs.</md-option>
                <md-option value="Miss.">Miss.</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>First name</label>
              <input ng-model="user.firstName" type="text">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Last name</label>
              <input ng-model="user.lastName" type="text">
            </md-input-container>
          </div>

          <div layout-gt-sm="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm="" style="padding: 0px 0 25px 0;">
              <label>Gender</label>
              <md-select ng-model="user.gender">
                <md-option value="M">Male</md-option>
                <md-option value="F">Female</md-option>
                <md-option value="O">Others</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="" style="padding: 0px 0 25px 0;">
              <label>Blood Group</label>
              <md-select ng-model="user.bloodgroup">
                <md-option value="O+">O+</md-option>
                <md-option value="O-">O-</md-option>
                <md-option value="A+">A+</md-option>
                <md-option value="A-">A-</md-option>
                <md-option value="B+">B+</md-option>
                <md-option value="B-">B-</md-option>
                <md-option value="AB+">AB+</md-option>
                <md-option value="AB-">AB-</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div layout-gt-sm="row" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Age</label>
              <input type="number" ng-model="user.age"></input>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Weight (kg)</label>
              <input type="number" ng-model="user.weight"></input>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Height (cms)</label>
              <input type="number" ng-model="user.height"></input>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="user.address">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Address Line 2</label>
            <input ng-model="user.addressline2">
          </md-input-container>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>City</label>
              <input ng-model="user.city">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>State</label>
              <md-select ng-model="user.state">
                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                  {{state.abbrev}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Postal Code</label>
              <input name="postalCode" ng-model="user.pincode" placeholder="123456" required="" ng-pattern="/^[0-9]{6}$/" md-maxlength="6">

              <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                  code.
                </div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Father's Name</label>
              <input ng-model="user.fathersname" type="text">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Nationality</label>
              <input ng-model="user.nationality">
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label>Emergeny Contact Details</label>
            <textarea ng-model="user.emergencycontact" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
          </md-input-container>

          <md-button class="md-raised md-primary" type="submit" flex-gt-sm="row">Register</md-button>
        </form>
      </div>
      </md-card>
    </md-content>
  <!-- <button ng-click="showHideLogin()">Login</button> -->

</div>