<!doctype html>
<html ng-app="docraft">
<head>

    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Docraft Tech</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/base.css">
</head>
<body>
<!-- top -->
  <header id="header">
      <div class="col-md-12 header-content">
        <a href="#/"><md-icon ng-bind="'home'"></md-icon><h1 id="logo"> Telemed Manipal</h1></a>
        <div>
          <p>
            <script> document.write(new Date().toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour12: false })); </script>
            <!-- <md-button ng-hide="scope.login" ng-href="#/login" class="md-raised md-primary">Logout</md-button> -->
            <!-- <md-button ng-hide="loginPath()" class="md-fab md-primary" aria-label="Navigation" ng-click="showAccountMenu($mdMenu, $event)">
              <md-icon ng-bind="'account_circle'"></md-icon>
            </md-button> -->
          <md-menu md-offset="-150 60" md-theme="docs-dark" class="md-primary" ng-cloak>
            <md-button ng-hide="loginPath()" class="md-fab md-primary" aria-label="Profile" ng-click="showAccountMenu($mdMenu, $event)">
              <md-icon ng-bind="'people'"></md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>
                <md-button ng-href="#/admin">
                  <!-- <md-icon md-svg-icon="call:dialpad" md-menu-align-target=""></md-icon> -->
                  Admin
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>
                  <!-- <md-icon md-svg-icon="call:dialpad" md-menu-align-target=""></md-icon> -->
                  Profile
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-href="#/login" >
                  <!-- <md-icon md-svg-icon="social:notifications-on"></md-icon> -->
                   Logout
                </md-button>
              </md-menu-item>
            </md-menu>

          </p>

        </div>
      </div>

      <div class="clear"></div>
  </header>
<!-- //top -->
<!-- <div class="shadow"></div> -->
  <main flex>
    
    <div id="container" flex>
        <div class='view-container' ng-view></div>
    </div>

  </main>

  <footer>
    <div class="col-mg-12 copyright"><h6>© Copyright 2017 Planwito Technologies(OPC) Pvt Ltd.All rights reserved.</h6></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </footer>
</body>
</html>